.card {
  display: flex;
  border: 1px solid #3b37e6;
  border-radius: 50px;
  background-color: #F3F6FF;
  padding: 30px;
  max-width: 50vw;
  height: fit-content;
  align-items: center;
  margin: 0 auto;
  gap: 25px;
  margin-bottom: 30px;
}

.card-left {
  flex: 1;
  padding-right: 20px;
}

.card-title {
  font-size: 50px;
  font-weight: bold;
  color: navy;
  display: block;
  line-height: 48px;
  flex: 1;
}

.card-description {
    color: #3c455a;
    font-family: Open Sans;
    font-size: 15px;
    font-weight: 300;
    line-height: 22px;
    margin-top: 16px;
    max-width: 325px;
    display: block;
    text-overflow: ellipsis;
    flex: 2;
}

.read-more-link {
  color: navy;
  text-decoration: none;
  font-weight: bold;
  padding: 16px;
  margin: 11px 0px 0px;
  display: block;
}

.card-right {
  flex: 1;
  text-align: center;
}

.card-image {
  border-radius: 40px;
  display: block;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
}

.card-carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 2rem;
  border-radius: 50%;
  padding: 10px;
  color: #16213D;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #3b37e6;
  height: 59px;
  margin-top: 0;
  -webkit-transform: translateY(-50%);
  transition: opacity .3s linear;
  width: 59px;
  font: 16px;
}

.left-arrow {
  left: 200px;
}

.right-arrow {
  right: 200px;
}

