.logo-carousel {
  position: relative;
  width: 100%;
  max-width: 100vw;
  overflow: hidden;
  text-align: center;
  margin: 20px 0;
}

.carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.carousel-content {
  display: flex;
  animation: scroll-right 20s linear infinite; /* Increased animation duration for smoothness */
  justify-content: flex-start;
  align-content: center;
}

.carousel-item {
  flex-shrink: 0;
  margin: 0 60px;
}

.carousel-item img {
  width: 90px;
  height: auto;
  object-fit: contain;
  filter: grayscale(100%);
}

@keyframes scroll-right {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%); /* Ensure the content moves to half of its width */
  }
}

@media (max-width: 768px) {
  .carousel-item img {
    width: 100px;
  }
}

@media (max-width: 480px) {
  .carousel-item img {
    width: 80px;
  }
}

.carousel-heading {
  font-size: clamp(1.4238rem, 1.0921rem + 1.6585vw, 2.6469rem);
  color: var(--textBluish);
  font-weight: 600;
  padding-bottom: 1em;
}
