/* Container for the entire carousel */
.react-responsive-carousel .carousel {
    width: 100vw;
    max-width: 100%;
    overflow: hidden;
}

.react-responsive-carousel .carousel .slide img {
    width: 150px;
    height: auto;
    margin: 0 auto;
    object-fit: contain;
}

.carousel-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.react-responsive-carousel .carousel .control-dots {
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.react-responsive-carousel .carousel .control-dots .dot {
    width: 8px;
    height: 8px;
    background-color: #888;
    border-radius: 50%;
    margin: 0 5px;
}
