
.logo-carousel {
  position: relative;
  width: 100%;
  max-width: 100vw;
  overflow: hidden;
  text-align: center;
  margin: 20px 0;
}

.carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.carousel-content {
  display: flex;
  animation: scroll-right 10s linear infinite;
  justify-content: center;
  align-content: center;
}

.carousel-item {
  flex-shrink: 0;
  margin: 0 60px;
}

.carousel-item img {
  width: 90px;
  height: auto;
  object-fit: contain;
  filter: grayscale(100%);
}

@keyframes scroll-right{
  0% {
    transform: translateX(0);
  }
  100% {
    /* enxures logos scroll continuosly even when the number is done */
    transform: translateX(-10%);
  }
}

@media (max-width: 768px) {
  .carousel-item img {
    width: 100px;
  }
}

@media (max-width: 480px) {
  .carousel-item img {
    width: 80px;
  }
}

.carousel-heading {
  font-size: clamp(1.4238rem, 1.0921rem + 1.6585vw, 2.6469rem);
  color: var(--textBluish);
  font-weight: 600;
  padding-bottom: 1em;
}
