:root {
    --textGrey: #343434;
    --textBluish: #16213d;
  }
 /* src/global.css */

@font-face {
  font-family: 'IBMPlexSans';
  src: url('./components/assets/fonts/IBMPlexSans-Regular.ttf') format('Ttf'),
       url('./components/assets/fonts/IBMPlexSans-Regular.ttf') format('truetype');
  /* font-weight: 500; */
  font-style: normal;
  /* font-display: block; */
}

/* this code will help to preload the fonts */
body::before {
  content: '';
  font-family: 'IBMPlexSans', 'Salmond';
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;
}

@font-face {
  font-family: 'Salmond';
  src: url('./components/assets/fonts/Salmond-Semibold.otf') format('otf'),
       url('./components/assets/fonts/Salmond-Semibold.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  /* font-display: block; */
}
@font-face {
    font-family: 'Salmond-light';
    src: url('./components/assets/fonts/Salmond-Light.otf') format('otf'),
         url('./components/assets/fonts/Salmond-Light.ttf') format('truetype');
    /* font-weight: 600; */
    font-style: normal;
    font-display: swap;
  }
@font-face {
    font-family: 'Salmond-regular';
    src: url('./components/assets/fonts/SalmondRegular.otf') format('otf'),
         url('./components/assets/fonts/SalmondRegular.otf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }

/* apply globally */
h1, h2, h3, h4, h5, h6{
  font-family: 'Salmond';
  font-weight: 400;
}
P, li, button{
    font-family: 'IBMPlexSans';
}
a{
    font-family:'salmond-regular'; 
    font-weight: 400!important;

}

  
.maxWidthContainer{
    max-width: min(1450px, 98%);
    margin: 0 auto;
}
.Br{
    border-radius: 60px;
}
.h1sizing{
    font-size:  clamp(1.8019rem, 1.0209rem + 3.9051vw, 4.1819rem);
    padding-top: .2em;
    font-weight: 500;
    line-height: 1;
    padding-bottom: .4em;
}
.text-Sizing{
    font-weight: 200;
}
.thin-weight{
    font-weight: 300;
    color: var(--textGrey);
    /* font-size: ; */
}

/* solutions */
.h2-solutions{
    font-size: clamp(1.125rem, 1.0243rem + 0.5034vw, 1.4963rem);
    color: var(--textBluish);
    font-weight: 600;
}
.h3solutions{
    font-size: clamp(1.125rem, 1.0243rem + 0.5034vw, 1.4963rem);
}

/* partners components */
.h2-partners{
    font-size: clamp(1.4238rem, 1.0921rem + 1.6585vw, 2.6469rem);
  color: var(--textBluish);
  font-weight: 600;
  padding-bottom: 1em;
}
/* sectorcard */
.h2sectorcard{
font-size: clamp(1.4238rem, 1.0921rem + 1.6585vw, 2.6469rem);
color: var(--textBluish);
}
/* footer section */
.h3footer{
    font-weight: 600;
}
/* drivegrowth section */
/* .bg-growth{
    background-image: url('/src/components/assets/home.svg');
} */
@media (max-width:39em) {
    .h1sizing{
        text-align: center;
    }
    .Br{
        border-radius: 30px;
    }
    .text-Sizing{
        text-align: center;
    }
    .button-Center{
        justify-content: center;
        display: flex;
    }
}